html {
    font-family: 'Koulen', cursive;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    margin: unset;
    background-color: #1D1F20;
}

.sidebar {
    background-color: #27292A;
    display: flex;
    flex-direction: column;
    width: 18em;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 2em;
    border-bottom: #1D1F20 solid;
}

.sidebar-title > a {
    color: unset;
    text-align: center;
    text-decoration: unset;
    width: 80%;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-items {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sidebar-items > ul {
    list-style: square;
}

.sidebar-items > ul > li {
    font-size: 18px;
}

.sidebar-items > ul > li > a {
    color: unset;
    text-decoration: unset;
}

.content {
    flex-grow: 1;
}
