html {
    font-family: 'Koulen', cursive;
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    margin: unset;
    background-color: #1D1F20;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
    font-weight: unset;
}

hr {
    border: #27292A 1px solid;
}

article {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}

.sidebar {
    background-color: #27292A;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0px;
    overflow-y: auto;
}

.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 2em;
    border-bottom: #1D1F20 solid;
    flex-shrink: 0;
}

.sidebar-title > a {
    color: unset;
    text-align: center;
    text-decoration: unset;
    width: 80%;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-items {
    margin-top: 1em;
    margin-bottom: 1em;
}

.sidebar-items > ul {
    list-style: square;
}

.sidebar-items > ul > li {
    font-size: 18px;
}

.sidebar-items > ul > li > a {
    color: unset;
    text-decoration: unset;
}

.content-head {
    flex-grow: 1;
    padding: 1em;
    width: 60%;
}

.keyboard-container-row {
    display: flex;
}

.keyboard-container-row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
}

.right-padding {
    width: 20%;
}

*::-webkit-scrollbar {
    width: 1em;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #343638;
}
